# Editor directories and files
.idea
.vscode

# python_homework 虚拟环境
ll_env


#######################
#####    python    ####
#######################
# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
# python/**/*.txt
# python/**/*.json



#######################
#####       c      ####
#######################

# https://github.com/github/gitignore/blob/master/C.gitignore
*.exe
