# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# python 虚拟环境
ll_env


#######################
#####    python    ####
#######################
# https://github.com/github/gitignore/blob/master/Python.gitignore

ll_env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# c extensions
*.so

# Distribution / packaging
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
blib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually thes files are writeten by a python script from a tempalte
# before PyInstaller builds the exe,so as to inject date/other infos into iyt.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webssets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyther NoteBook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g.githug.com/David-Oconner/pyflow
__pypackages__

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bal/

# Spyder projecy settings
.spyderproject
.spyproject

# Rope project settings
.ropepeoject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypt.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/


#######################
#####       c      ####
#######################

# Prerequisites
*.d

